.no-bg {
    background: transparent !important;
}

.description {
    margin: 0;
    border-radius: 10px;
    display: block;
    border: 1px solid #DCE8ED;
}

.headline {
    font-size: 22px;
    font-weight: bold;
    
}
.entry-fields{
    margin: 0 !important;
    &__mail{
        display: block;
        font-weight: normal;
        
    }
    &__password{
        display: block;
        font-weight: normal;
    }
}
.post-description{
    font-size: 14px;
    font-weight: normal;
}
.text{
    font-weight: normal;
}
.link{
    text-decoration: underline;
}
table.body .container{
    width:90% !important;
}
table.body .columns, table.body .column{
    padding-left: 40px !important;
    padding-right: 40px !important;
    padding-bottom: 0;
}